/*------------
Reset
------------*/
@font-face {
    font-family: Aldo;
    src: url(../Fonts/Aldo\ PC.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}
body,html{
    width: 100%;
    overflow-x: hidden;
}
/*------------
Global
------------*/
.SectionTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0 45px 0;
}
.SectionTitle h2{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 40px;
/* identical to box height */

text-align: center;

color: #000000;
}
/*------------
Swiper
------------*/
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
  

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/*------------
Pipop
------------*/
.Pipop .swiper-container-horizontal > .swiper-pagination-progressbar{
    top: auto;
    bottom: 20px;
    width: 70%;
    left: 70px;
    
}
.Pipop .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: white;
}
.Pipop .swiper-button-next::after, 
.Pipop .swiper-button-prev::after{
    display: none;
}
.Pipop > .container{
    height: 100%;
    position: relative;
}
.Pipop .swiper-button-prev{
    left: 20px;
        right: auto;
        bottom: 0;
        top: auto;
}
.Pipop .swiper-button-next{
    right: auto;
    left: 78%;
    bottom: 0;
    top: auto;
}
.Pipop .swiper-button-next p, 
.Pipop .swiper-button-prev p{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */
    margin: 0;
    text-align: center;
    
    color: #FFFFFF;
}

.Pipop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/BG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
}
.Pipop.active{
    visibility: visible;
    opacity: 1;
}
.Pipop .PipopCloseBtnDiv{
    position: absolute;
    right: 30px;
    bottom: 20px;
    cursor: pointer;
    z-index: 1000;
}
.Pipop .PipopCloseBtnDiv button{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
height: 58px;
border-radius: 50%;
    background: rgba(255, 255, 255, 0.18);
box-shadow: 0px 5px 35px rgba(85, 85, 85, 0.1);
}
.Pipop .swiper-slide .Content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}
.Pipop .swiper-slide .Content .left img{
    width: 600px;
    height: 470px;
}
.Pipop .swiper-slide .Content .bgText{
    margin: 0;
    padding: 0;
    font-family: Aldo;
    width:100%;
font-style: normal;
font-weight: 600;
font-size: 280px;
line-height: 355px;
/* identical to box height */

text-align: center;

color: rgba(255, 255, 255, 0.32);
position: absolute;
top: -2%;
left: 50%;
transform: translateX(-50%);
z-index: -1;
}
.Pipop.ChinaPipop .swiper-slide:nth-child(1) .Content .bgText{
    font-size: 150px;
}
.Pipop.NewYorkPipop .swiper-slide:nth-child(1) .Content .bgText{
    font-size: 150px;
}
.Pipop .swiper-slide .Content .TextMain p{
    font-family: Aldo;
    margin: 0;
}
.Pipop .swiper-slide .Content .TextMain .TopText{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.Pipop .swiper-slide .Content .TextMain .TopText h3{
    margin: 0;
    padding: 0;
    font-family: Arista Pro Alternate;
    font-style: normal;
    font-weight: bold;
    font-size: 51.6522px;
    line-height: 44px;
    /* identical to box height */
    
    text-align: right;
    
    color: #FFFFFF;
}
.Pipop .swiper-slide .Content .TextMain .TopText p{
    font-family: Arista Pro Alternate;
    font-style: normal;
    font-weight: 300;
    font-size: 38.7391px;
    line-height: 33px;
    text-align: right;
    
    color: #FFFFFF;
    margin-top: 5px;
}
.Pipop .swiper-slide .Content .TextMain .MainText p{
    margin: 0;
    padding: 0;
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 27px;
/* or 159% */
width: 350px;
text-align: right;
letter-spacing: 0.02em;

color: rgba(255, 255, 255, 0.69);
margin-top: 15px;
}
.Pipop .swiper-slide .Content .TextMain .BottomText{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 13px;
}
.Pipop .swiper-slide .Content .TextMain .BottomText div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Pipop .swiper-slide .Content .TextMain .BottomText div h4{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 21.9729px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: rgba(255, 255, 255, 0.68);
}
.Pipop .swiper-slide .Content .TextMain .BottomText div{
    margin: 0 16px;
}
.Pipop .swiper-slide .Content .TextMain .BottomText div p{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 30.2128px;
    line-height: 33px;
    
    color: #FFFFFF;
}
.Pipop .swiper-slide .Content .TextMain .BottomText img{
    width: 30px;
    height: 30px;
}
/*------------
Top Section
------------*/
#TopSection{
    width: 100%;
    position: relative;
    padding-top: 35px;
    transition: all 300ms;
}
#TopSection .BackgroundImgDiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 90%;
    background-image:linear-gradient(0deg, rgb(43,44,71,0.7) -7.98%, rgb(118,81,178,0.7) 117.17%), url(../images/Rectangle\ 3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
}
#TopSection::before{
    content: "";
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */

    transform: matrix(-1, 0, 0, 1, 0, 0);
}
#TopSection.active{
    padding: 0;
}
/*------------
    Header
------------*/    
header{
    z-index: 100 !important;
    height:110px;

    border-radius: 30px;
    box-shadow: 0px 5px 25px rgba(85, 85, 85, 0.1);
    transition: all 600ms;
    position: relative;
}
header .BgImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}
header .BgImage img{
    width: 100%;
    height: 100%;
}

header.active{
    background: white;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
header .DekstopNav {
    height: 100%;
    display: flex;
    align-items: center;
    display: none;
}
header .DekstopNav .col-12{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 10px;
}
header .DekstopNav .col-12 .left{
    display: flex;
    align-items: center;
}
header .DekstopNav .col-12 .left .logo{
    padding-left: 15px;
}
header .DekstopNav .col-12 .left .logo h3{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    color: #EB54BC;
}
header .DekstopNav .col-12 .left .NavList{
    margin-left: 40px;
}
header .DekstopNav .col-12 .left .NavList ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
header .DekstopNav .col-12 .left .NavList ul li{
    margin: 0 13px;
}
header .DekstopNav .col-12 .left .NavList ul li a{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */


    color: #221343;
}
header .DekstopNav .col-12 .right .time{
    display: flex;
    align-items: center;
    background: linear-gradient(270.36deg, #EB54BC 0.32%, #FF8DDC 99.73%);
    box-shadow: 0px 5px 25px rgba(85, 85, 85, 0.1);
    border-radius: 12px;
    padding: 8px 12px;
}
header .DekstopNav .col-12 .right .time p{
    font-family: Aldo;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
header .DekstopNav .col-12 .right .time .day{
    margin-right: 20px;
}
header .DekstopNav .col-12 .right .time .hour{
    margin-right: 20px;
}
header .DekstopNav .col-12 .right .time .minute{
    margin-right: 20px;
}
header  .DekstopNav2{
    padding-top: 12px;
}
header  .DekstopNav2 > .col-12
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
header  .DekstopNav2 .NavList ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    
}
header  .DekstopNav2 .NavList ul li{
    margin: 0 20px;
}
header  .DekstopNav2 .NavList ul li a{
    margin: 0;
    padding: 0;
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
/* identical to box height */


color: #221343;
}
header .DekstopNav2  .right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
header .DekstopNav2  .right .time{
    display: flex;
    align-items: center;
    background: linear-gradient(270.36deg, #EB54BC 0.32%, #FF8DDC 99.73%);
    box-shadow: 0px 5px 25px rgba(85, 85, 85, 0.1);
    border-radius: 12px;
    padding: 8px 12px;
}
header .DekstopNav2  .right .time p{
    font-family: Aldo;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
header .DekstopNav2  .right .time .day{
    margin-right: 20px;
}
header .DekstopNav2  .right .time .hour{
    margin-right: 20px;
}
header .DekstopNav2  .right .time .minute{
    margin-right: 20px;
}
header .MobileNavCon{
    height: 100%;
}
header .MobileNavCon .row{
    height: 100%;
}
header .MobileNavCon .col-12{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
header .MobileNavCon .col-12 .logo h3{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    color: #EB54BC;
}
header .MobileNavCon{
    background: white;
    border-radius: 30px;
    display: none;
}


/*------------
MobileOpenMenu
------------*/ 
.MobileOpenMenu{
    background: white;
    position: fixed;
    top: 100px;
    left: 0;
    width: 0%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 500ms;
}
.MobileOpenMenu.active{
    width: 100%;
}
.MobileOpenMenu.active2{
    top: 70px;
}
.MobileOpenMenu .NavList{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.MobileOpenMenu .NavList ul{
    margin: 0;
    padding: 0;

}
.MobileOpenMenu .NavList ul li{
    margin: 13px 0px;
}
.MobileOpenMenu .NavList ul li a{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */


    color: #221343;
}
.MobileOpenMenu .time{
    display: flex;
    align-items: center;
    background: linear-gradient(270.36deg, #EB54BC 0.32%, #FF8DDC 99.73%);
    box-shadow: 0px 5px 25px rgba(85, 85, 85, 0.1);
    border-radius: 12px;
    padding: 8px 12px;
}
.MobileOpenMenu .time p{
    font-family: Aldo;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
.MobileOpenMenu .time .day{
    margin-right: 20px;
}
.MobileOpenMenu .time .hour{
    margin-right: 20px;
}
.MobileOpenMenu .time .minute{
    margin-right: 20px;
}
/*------------
TextBanner
------------*/  
.TextBanner{
    margin-top: 130px;
}
.TextBanner .ColDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.TextBanner .ColDiv h1{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 79px;
    text-align: center;

    color: #FFFFFF;
}
.TextBanner .ColDiv h2{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 79px;
    text-align: center;

    color: #FFFFFF;
}
.TextBanner .ColDiv p{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 53px;
    /* identical to box height */

    text-align: center;

    color: #6CED9D;
    margin: 0;
    margin-top: 11px;
}
/*------------
About Section
------------*/ 
#AboutSection{
    margin-top: 60px;
}
#AboutSection .TopContainer{
    position: relative;
    padding:29px 0px 29px 0px ;
}
#AboutSection .TopContainer .BgImage{
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translateY(-50%);
    height: 100%;
    width: 90%;
    z-index: -1;
}
#AboutSection .TopContainer .BgImage img{
    width: 100%;
    height: 100%;
}
#AboutSection .TopContainer .LeftCol img{
    height: 196px;
    border-radius: 30px;
    max-width: 310px;
}
#AboutSection .TopContainer .RightCol{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
#AboutSection .TopContainer .RightCol h2{
    margin: 0;
    padding: 0;
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height */

    text-align: right;

    color: #FFFFFF;
}
#AboutSection .TopContainer .RightCol p{
    margin: 0;
    padding: 0;
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
text-align: right;
max-width: 700px;
color: rgba(255, 255, 255, 0.7);

}
#AboutSection .BottomContainer{
    position: relative;
    padding:15px 0px 15px 0px ;
}
#AboutSection .BottomContainer .BgImage{
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    height: 100%;
    width: 96%;
    z-index: -1;
}
#AboutSection .BottomContainer .row{
    margin-top: 30px;
}
#AboutSection .BottomContainer .BgImage img{
    width: 100%;
    height: 100%;
}
#AboutSection .BottomContainer .RightCol .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
#AboutSection .BottomContainer .RightCol img:not(.shadow){
    height: 196px;
    border-radius: 30px;
    max-width: 310px;
}
#AboutSection .BottomContainer .RightCol .shadow{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-radius: 0 0 30px 30px;
    max-width: 310px;
}
#AboutSection .BottomContainer .RightCol .Text{
    max-width: 310px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
}
#AboutSection .BottomContainer .RightCol .Text p{
    margin: 0;
    padding: 0;
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;

    color: #FFFFFF;
}
#AboutSection .BottomContainer .RightCol .Text button{
    border: none;
    outline: none;
    background: transparent;
}
#AboutSection .BottomContainer  .LeftCol{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
#AboutSection  .BottomContainer  .LeftCol h2{
    margin: 0;
    padding: 0;
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
#AboutSection  .BottomContainer  .LeftCol p{
    margin: 0;
    padding: 0;
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    max-width: 700px;
    color: rgba(255, 255, 255, 0.8);

}
/*------------
CardsBanner
------------*/ 
.CardsBanner{
    margin-top: 85px;
}
.CardsBanner .col-12  .card{
    background: transparent;
    border: none;
    cursor: pointer;
}
.CardsBanner .col-12:nth-child(1)  .card{
    background-image: linear-gradient(180deg, rgba(142, 88, 255, 0) 33.95%, #8E58FF 96.66%) , url(../images/Rectangle\ 6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 432px;
    border-radius: 40px;

    filter: drop-shadow(0px 5px 35px rgba(85, 85, 85, 0.1));
    border-radius: 41px;
}
.CardsBanner .col-12:nth-child(2)  .card{
    background-image: linear-gradient(180deg, rgba(167, 108, 75, 0) 33.95%, #073D70 96.66%) , url(../images/China.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 432px;
    border-radius: 40px;
 
    filter: drop-shadow(0px 5px 35px rgba(85, 85, 85, 0.1));
    border-radius: 41px;
}
.CardsBanner .col-12:nth-child(3)  .card{
    background-image: linear-gradient(180deg, rgba(88, 145, 255, 0) 33.95%, #54ADFF 96.66%) , url(../images/Rectangle\ 6\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 432px;
    border-radius: 40px;
 
    filter: drop-shadow(0px 5px 35px rgba(85, 85, 85, 0.1));
    border-radius: 41px;
}
.CardsBanner .col-12:nth-child(4)  .card{
    background-image: linear-gradient(180deg, rgba(107, 75, 75, 0) 33.95%, #103A61 96.66%) , url(../images/Rectangle\ 6\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 432px;
    border-radius: 40px;
 
    filter: drop-shadow(0px 5px 35px rgba(85, 85, 85, 0.1));
    border-radius: 41px;
}
.CardsBanner .col-12:nth-child(2) .card{
   margin-top:45px ;
}
.CardsBanner .col-12:nth-child(3) .card{
    margin-top:71px ;
 }
 .CardsBanner .col-12:nth-child(4) .card{
    margin-top:22px ;
 }
.CardsBanner .card {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    height: 430px;
}
.CardsBanner .card .TextMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.CardsBanner .card .TextMain p{
    font-family: Aldo;
    margin: 0;
}
.CardsBanner .card .TextMain .TopText h3{
    margin: 0;
    padding: 0;
    font-family: Aldo;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
.CardsBanner .card .TextMain .TopText p{
    font-family: Aldo;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 17px;
    text-align: center;

    color: #FFFFFF;
    margin-top: 3px;
}
.CardsBanner .card .TextMain .BottomText{
    display: flex;
    align-items: center;
    margin-top: 13px;
}
.CardsBanner .card .TextMain .BottomText div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.CardsBanner .card .TextMain .BottomText div h4{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */


    color: rgba(255, 255, 255, 0.68);
}
.CardsBanner .card .TextMain .BottomText div{
    margin: 0 16px;
}
.CardsBanner .card .TextMain .BottomText div p{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;

    color: #FFFFFF;
}
/*------------
Features
------------*/   
#Features .SectionTitle{
    margin-top: 80px;
    margin-bottom: 0;
}
#Features .col-6{
    height: 100%;
}
#Features .col-6 > img{
    margin-top: 20px;
}
#Features .col-6:nth-child(2) > div {
    margin-top: 82px;
}
#Features .col-6:nth-child(3) > div{
    margin-top: 62px;
}
#Features .col-6:nth-child(4) > div{
    margin-top: 124px;
}
#Features .col-6:nth-child(5) > div{
    margin-top: 82px;
}
#Features .col-6:nth-child(6) > div{
    margin-top: 46px;
}
#Features .col-6:nth-child(7) > div{
    margin-top: 100px;
}
#Features .CardContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    border-radius: 40px;
    border: 1px solid gray;
    height: calc(100% - 20px);
    padding: 2px;
    position: relative;

}
#Features .CardContent > div{
    background: white;
    border-radius: 40px;
    transform: translate(-1px,-1px);
    padding: 0px 10px 10px 10px;
}
#Features .CardContent:before {
    content: "";
    position: absolute;
    width: 102.6%;
    height: 101.3%;
    top: -3px;
    left: -3px;
    border-radius: 40px;
    z-index: -1;
    background-image: linear-gradient(130deg, #eb3fa9 0%, #395ff6 50%, #eb3fa9 100%);
}
#Features .CardContent img{
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
}
#Features .col-6:nth-child(2) .CardContent img{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}
#Features .col-6:nth-child(4) .CardContent img{
    position: absolute;
    top: -45%;
    left: 50%;
    transform: translateX(-55%);
}
#Features .col-6:nth-child(5) .CardContent img{
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-55%);
}
#Features .col-6:nth-child(6) .CardContent img{
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-55%);
}
#Features .col-6:nth-child(7) .CardContent img{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-55%);
}
#Features .CardContent h3{
    margin: 0;
    padding: 0;
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-top: 70px;
    color: #000000;
}
#Features .CardContent p{
    margin: 0;
    padding: 0;
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 20px;
text-align: center;

color: #A4A4A4;
margin-top: 17px;
margin-bottom: 20px;
}
/*------------
NTF_Infos
------------*/ 
#NTF_Infos{
    position: relative;
    width: 100%;
    height: 100%;

}
#NTF_Infos .bg1{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 229px;
    height: 229px;
    background: #EB54BC;
    filter: blur(460px);
    border-radius: 50%;
}
#NTF_Infos .bg2{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 229px;
    height: 229px;
    background: #FE9402;
    filter: blur(460px);
    border-radius: 50%;
}
#NTF_Infos .bg3{
    position: absolute;
    top: 15%;
    right: 0%;
    width: 425px;
    height: 425px;
    background: #80ECFF;
    filter: blur(460px);
}
#NTF_Infos .bg4{
    position: absolute;
    top: 15%;
    left: 0%;
    width: 425px;
    height: 425px;
    background: rgba(160, 73, 228, 0.87);
    filter: blur(460px);
}
#NTF_Infos .BackGroundImage{
    background-image: url(../images/Vector\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: -1;
}
#NTF_Infos .NFT_Marketplace{
    padding-top:150px;
}
#NTF_Infos .NFT_Marketplace .left img{
    width: 405.16px;
    height: 442.49px;
    transform: translate(-110px,-50px);
}
#NTF_Infos .NFT_Marketplace .right{
    padding-top: 30px;
    height: 100% !important;
    position: relative;
}
#NTF_Infos .NFT_Marketplace .right > img{
    position: absolute;
    top: -30%;
    right: 5%;
}
#NTF_Infos .NFT_Marketplace .right h2{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 40px;
/* identical to box height */
margin: 0;
padding: 0;

color: #000000;
}
#NTF_Infos .NFT_Marketplace .right p{
    margin: 0;
    padding: 0;
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 20px;

color: #B1B1B1;
margin: 32px 0;
}
#NTF_Infos .NFT_Marketplace .right a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 133px;
    height: 35px;
    background: linear-gradient(270.36deg, #EB54BC 0.32%, #FF8DDC 99.73%);
    box-shadow: 0px 5px 25px rgba(85, 85, 85, 0.1);
    border-radius: 12px;
    padding: 0 15px;
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
    cursor: pointer;
    transition: all 300ms;
}

#NTF_Infos .Rent_NFT{
    transform: translateY(-30px);
    max-height: 500px;
}

#NTF_Infos .Rent_NFT .SectionTitle h2{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 53px;
/* identical to box height */

text-align: center;

color: #EB54BC;
}
#NTF_Infos .Rent_NFT .SectionTitle{
    transform: translateY(-100px);
}
#NTF_Infos .Rent_NFT .left{
    padding-left: 60px;
    height: 100%;
    transform: translateY(0px);
}
#NTF_Infos .Rent_NFT .left h2{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 40px;
/* identical to box height */
margin: 0;
padding: 0;

color: #000000;
}
#NTF_Infos .Rent_NFT .left p{
    margin: 0;
    padding: 0;
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 20px;

color: #B1B1B1;
margin: 32px 0;
}
#NTF_Infos .Rent_NFT .left a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 133px;
    height: 35px;
    background: linear-gradient(270.36deg, #EB54BC 0.32%, #FF8DDC 99.73%);
    box-shadow: 0px 5px 25px rgba(85, 85, 85, 0.1);
    border-radius: 12px;
    padding: 0 15px;
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
    cursor: pointer;
    transition: all 300ms;
}

#NTF_Infos .Rent_NFT .right{
    height: 100%;
    position: relative;
}
#NTF_Infos .Rent_NFT .right img{
    width: 100%;
    height: 100%;
    transform: translateY(-150px);
    height: 480px;
}
#NTF_Infos .Rent_NFT .right::before{
    content: "";
    position: absolute;
    right: 10%;
    top: 10%;
    transform: translateY(-50%);
    background: rgba(235, 84, 188, 0.08);
    width: 225px;
    height: 225px;
    border-radius: 50%;
}
/*------------
Chances
------------*/ 
#Chances .SectionTitle{
    margin-top: 0;
}
#Chances .CardMainCol{
    position: relative;
    height: 539px;
}
#Chances .CardMainCol:nth-child(3){
    position: relative;
    height: 460px;
}
#Chances .CardMainCol:nth-child(5){
    position: relative;
    height: 460px;
}
#Chances .CardMainCol:nth-child(2) {
    margin-top: 90px;
}
#Chances .CardMainCol:nth-child(3) {
    margin-top: 130px;
}
#Chances .CardMainCol:nth-child(4) {
    margin-top: 60px;
}
#Chances .CardMainCol:nth-child(5) {
    margin-top: 30px;
}
#Chances  .col-12{
    position: relative;
}
#Chances  .CardMainColJustImage{
    perspective:2000px;
    overflow: hidden;
}
#Chances  .CardMainColJustText{
    perspective:2000px;
    overflow: hidden;
}
#Chances .CardContentJustImage{
    position: relative;
    transition: all 800ms;
    z-index: 1000;
    
}
#Chances  .CardMainColJustImage .CardContentText{
    position: absolute;
    top: 0;
    left: 20%;
    
    transition: all 700ms;
    width: 90%;
    height: 73% !important;
    z-index: 1;
    transform: rotateY(-180deg);
    transform-origin: right;
}
#Chances  .CardMainColJustText .CardContentJustImage{
    position: absolute;
    top: 0;
    left: 20%;
    transform: rotateY(-180deg);
    transform-origin: right;

    width: 90%;
    height: 89% !important;
    z-index: -1;
}
#Chances  .CardMainColJustImage .CardContentText svg{
    transform: translate(-60px,73px) !important;
}
#Chances  .CardMainColJustImage .CardContentJustImage{
    transform-origin: left;
}
#Chances  .CardMainColJustText .CardContentText{
    transform-origin: left;
    transition: all 800ms;
    z-index: 100;
    background: white;
}
#Chances  .CardMainColJustImage:hover .CardContentJustImage{
    overflow: hidden;
    
    transform: rotateY(180deg);
    visibility: hidden;
    opacity: 0;
    
}
#Chances  .CardMainColJustImage:hover .CardContentText{
    transform: rotateY(0);
    left: 5%;
}
#Chances  .CardMainColJustText:hover .CardContentJustImage{
    transform: rotateY(0);
    left: 5%;
}
#Chances  .CardMainColJustText:hover .CardContentText{
    overflow: hidden;
    
    transform: rotateY(180deg);
    visibility: hidden;
    opacity: 0;
    
}
#Chances .CardContentJustImage img:nth-child(1){
    width: 100%;
    height:100%;
}
#Chances .CardContentJustImage img:nth-child(2){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#Chances .CardMainCol .Shadow{
    width: 60%;
    height: 10px;
    border-radius: 0px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#Chances .CardMainCol .Shadow img{
    width: 100%;
    height: 100%;
}
#Chances .CardMainCol{
    padding-bottom: 50px;
}
#Chances .CardMainCol .CardContentText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 4.53097px solid #FFA800;
    box-sizing: border-box;
    border-radius: 30px;
    height: 100%;
    text-align: center;
    padding: 0 24px 0 24px;
}
#Chances .CardMainCol .CardContentText__Last{
    border-color:rgba(194, 93, 255, 1);
}
#Chances .CardMainCol .CardContentText h3{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 23.1001px;
    line-height: 25px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
    margin: 0;
    padding: 0;
}
#Chances .CardMainCol .CardContentText p{
    margin: 0;
    padding: 0;
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

    color: #999999;
    margin-top: 18px;
}
#Chances .CardMainCol .CardContentText svg{
    transform: translate(-60px,80px);
}
#Chances .CardMainCol .CardContentText__Last svg path{
    fill: rgba(194, 93, 255, 1);
}
/*------------
Chart
------------*/ 
#Chart{
    padding: 100px 0;
}
#Chart .left{
    position: relative;
    padding: 0 20px ;
}
#Chart .left .MiddleCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    width: 124px;
    height: 124px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Chart .left .MiddleCenter h3{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 26px;
text-align: center;
margin: 0;
padding: 0;
color: #EB54BC;
}
#Chart .left p{
    margin: 0;
    padding: 0;
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 26px;
position: absolute;
color: #FFFFFF;
}
#Chart .left .First15{

    right: 20%;
    top: 35%;
}
#Chart .left .First10{

    right: 37%;
    top: 13%;
}
#Chart .left .Second15{

    right: 20%;
    top: 62%;
}
#Chart .left .First20{

    right: 48%;
    top: 80%;
}
#Chart .left .Second20{
    right: 78%;
    top: 60%;
}
#Chart .left .First5{
    right: 78%;
    top: 31%;
}
#Chart .left .Second10{
    right: 70%;
    top: 17%;
}
#Chart .left .Second5{
    right: 54%;
    top: 10%;
}
#Chart .right .TopText h2{
    margin: 0;
    padding: 0;
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 40px;
/* identical to box height */


color: #EB54BC;
}
#Chart .right .TotalSupply{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}
#Chart .right .TotalSupply p{
    margin:0;
    padding: 0;
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 31px;
/* identical to box height */

text-align: right;

color: #000000;
}
#Chart .right .list ul{
    margin: 0;
    padding: 0;
}
#Chart .right .list ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    margin: 9px 0;
    position: relative;
    padding: 0 15px;
    border-radius: 10px;
    transition: all 300ms;
    overflow: hidden;
}
#Chart .right .list ul li:hover{
    background: #8F58FE;

}
#Chart .right .list ul li:hover p{
    color: white;
}
#Chart .right .list ul li:hover span{

    transform: translateY(-50px);
}
#Chart .right .list ul li span{
    height: 100%;
    width: 5px;
    height: 22px;
border-radius: 25px;
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 0;
transition: all 500ms;
}
#Chart .right .list ul li:nth-child(1) span{
    background: #FF7A5D;
}
#Chart .right .list ul li:nth-child(2) span{
    background: #FFCE5D;
}
#Chart .right .list ul li:nth-child(3) span{
    background: #F2A7FE;
}
#Chart .right .list ul li:nth-child(4) span{
    background: #FF70D3;
}
#Chart .right .list ul li:nth-child(5) span{
    background: #81B9FF;
}
#Chart .right .list ul li:nth-child(6) span{
    background: #81B9FF;
}
#Chart .right .list ul li:nth-child(7) span{
    background: #80ECFF;
}
#Chart .right .list ul li:nth-child(8) span{
    background: #15F196;
}
#Chart .right .list ul li p{
    margin: 0;
    padding: 0;
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
/* identical to box height */

text-align: right;
    transition: all 300ms;
color: #231343;
}
/*------------
Faq
------------*/ 
#Faq {
    overflow: hidden;
}
#Faq .col-lg-6{
    margin: 10px 0;
    display: flex;
}
#Faq .FaqContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgba(232, 232, 232, 1);
    padding: 2px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    width: 100%;
    
}
#Faq .FaqContent > .ContentMainDiv{
    padding:19px 27px;
    border-radius: 20px;
    background: white;
}
#Faq .FaqContent .TimeLine{
    position: absolute;
    top: -50%;
    right: -2.5%;
    width: 3px;
    height: 80%;
    background-image: linear-gradient(130deg, #eb3fa9 0%, #395ff6 50%, #eb3fa9 100%);
    visibility: hidden;
}
#Faq .col-12:nth-child(odd) .FaqContent .TimeLine{
    right: auto;
    left: -2.5%;
}
#Faq .col-12:nth-child(5) .FaqContent .TimeLine{
    top: -120%;
    height: 150%;
}
#Faq .col-12:nth-child(4) .FaqContent .TimeLine{
    top: -120%;
    height: 150%;
}
#Faq .col-12:nth-child(7) .FaqContent .TimeLine{
    height: 220%;
    top: -190%;
}
#Faq .col-12:nth-child(6) .FaqContent .TimeLine{
    height: 220%;
    top: -190%;
}
#Faq .col-12:nth-child(8) .FaqContent .TimeLine{
    height: 300%;
    top: -270%;
}
#Faq .col-12:nth-child(9) .FaqContent .TimeLine{
    height: 300%;
    top: -270%;
}
#Faq .col-12:nth-child(10) .FaqContent .TimeLine{
    top: -350%;
    height: 380%;
}
#Faq .col-12:nth-child(11) .FaqContent .TimeLine{
    top: -350%;
    height: 380%;
}
#Faq .FaqContent.active .TimeLine.active{

    visibility: visible;
}
#Faq .FaqContent .rightArrow{
    position: absolute;
    top: 30%;
    right: -2.5%;
    width: 15px;
    height: 3px;
    visibility: hidden;
    background-image: linear-gradient(130deg, #eb3fa9 0%, #395ff6 50%, #eb3fa9 100%);
}
#Faq .col-12:nth-child(odd) .FaqContent .rightArrow{
    right: auto;
    left: -2.5%;
}
#Faq .FaqContent.active .rightArrow{
    visibility: visible;
}
#Faq .FaqContent.active{
    border: none;
}
#Faq .FaqContent::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(130deg, #eb3fa9 0%, #395ff6 50%, #eb3fa9 100%);
    border-radius: 20px;
    visibility: hidden;
}
#Faq .FaqContent.active::before{
    visibility: visible;
}
#Faq .FaqContent .FaqDefaultContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Faq .FaqContent .FaqDefaultContent p{
    margin: 0;
    padding: 0;
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}
#Faq .FaqContent .FaqDefaultContent svg{
    transition: all 700ms;
}
#Faq .FaqContent.active .FaqDefaultContent svg{
    transform: rotate(180deg);
}
#Faq .FaqContent .FaqOpenContent{
    margin-top: 15px;
    display: none;


}
#Faq .FaqContent.active .FaqOpenContent{
    display: block;
 
}
#Faq .FaqContent .FaqOpenContent p{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    color: #B7B7B7;
    transition: all 800ms;
    transform: translateY(-50px);
}
#Faq .FaqContent.active .FaqOpenContent p{
    transform: translateY(0px);
}
/*------------
Team
------------*/   
#Team {
    position: relative;
    margin-top: 60px;
    padding-bottom: 40px;
}
#Team  .bg1{
    position: absolute;
    top: 40%;
    left: 0;
    width: 325px;
    height: 250px;
    background: #FF7C60;
    filter: blur(460px);
}
#Team  .bg2{
    position: absolute;
    top: 4%;
    right: 0;
    width: 325px;
    height: 325px;
    background: #FF70D3;
    filter: blur(460px);
    border-radius:50%;
}
#Team  .bg3{
    position: absolute;
    top: 4%;
    left: 20%;
    width: 229px;
    height: 229px;
    background: #17F197;
    filter: blur(460px);
    border-radius:50%;
}
#Team  .bg4{
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 229px;
    height: 229px;
    background: #81B6FF;
    filter: blur(460px);
    border-radius:50%;
}
#Team .SectionTitle{
    margin-bottom: 90px;
}
#Team .CardsCol{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Team .CardContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 300ms;
    padding: 15px 10px;
    margin: 0 10px;
    width: 225px;
    height: 331px;
}
#Team .CardContent:hover{
    background: #FFFFFF;
    box-shadow: 0px 5px 35px rgba(85, 85, 85, 0.1);
    border-radius: 41px;
}
#Team .CardContent img{
    transform: translateY(-80px);
}
#Team .CardContent h3{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 20px;
/* identical to box height */
    transform: translateY(-40px);
text-align: center;

color: #000000;

}
#Team .CardContent p{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
/* identical to box height */

text-align: center;
transform: translateY(-35px);

color: #707070;
margin-bottom: 26px;
}
#Team .CardContent svg{
    transform: translateY(-20px);
}
/*------------
Whitepapers
------------*/  
#Whitepapers{
    position: relative;

}
#Whitepapers .CardsCon{
    background-image: url(../images/Vector\ 3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
#Whitepapers .CardsCol{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#Whitepapers .CardsCol .leftArrow{
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}
#Whitepapers .CardsCol .rightArrow{
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
}
#Whitepapers .CardsCol .rightArrow svg{
    transform: rotate(-180deg);
}
#Whitepapers .CardContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 100px;
}
#Whitepapers .CardContent img{
    width: 137.93px;
height: 115.29px;
transform: translateY(-30px);
}
#Whitepapers .CardContent p{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 26px;
text-align: center;

color: #000000;
margin: 0;
transform: translateY(-10px);
}
#Whitepapers .CardContent a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 133px;
    height: 35px;
    background: linear-gradient(270.36deg, #EB54BC 0.32%, #FF8DDC 99.73%);
    box-shadow: 0px 5px 25px rgba(85, 85, 85, 0.1);
    border-radius: 12px;
    padding: 0 15px;
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height */

    margin-bottom: 20px;
    margin-top: 5px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 300ms;
}
#Whitepapers .CardContent a:hover{
    padding: 0 10px;
}
/*------------
Roadmap
------------*/   
#Roadmap{
    background-image: url(../images/RoadBG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0 150px 0;
}
#Roadmap .CardCol{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Roadmap .MainContent{
    margin-top: 50px;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 35px 35px 35px 35px;
}
#Roadmap .MainContent .TextList:nth-child(1){
    border-radius: 35px 0px 0px 35px;
}
#Roadmap .MainContent .TextList:last-child{
    border-radius: 0 35px 35px 0;
}
#Roadmap .MainContent .TextList{
    border: 2px solid rgba(20, 241, 149, 1);
    min-height: 200px;
}
#Roadmap .MainContent .TextList:nth-child(1) .Top{
    border-radius: 35px 0px 0px 0px;
}
#Roadmap .MainContent .TextList:last-child .Top{
    border-radius: 0 35px 0px 0;
}
#Roadmap .MainContent .TextList .Top{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EB54BC;
    padding: 15px 0;

}
#Roadmap .MainContent .TextList .Top h3{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 20px;
text-align: center;
margin: 0;
color: #FFFFFF;
}
#Roadmap .MainContent .TextList .List{
    padding: 0 15px;
}
#Roadmap .MainContent .TextList .List ul{
    margin: 0;
    padding: 0;

}
#Roadmap .MainContent .TextList .List ul li{
    margin: 15px 0;
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 13px;
/* identical to box height */


color: #221343;

}
#Roadmap .MainContent .TextList .List ul li svg{
    margin-right: 5px;
    width: 14.75px;
height: 15.51px;
}
#Roadmap .MainContent .TextList .List ul li svg path {
    fill: rgba(20, 241, 149, 1);
}
#Roadmap .MainContent .ImageText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
    padding: 15px 33px;
    border: 2px solid rgba(255, 168, 0, 1)
}
#Roadmap .MainContent .ImageText h3{
    margin: 0;
    padding: 0;
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 20px;
text-align: center;

color: #231343;
margin-bottom: 20px;
}
/*------------
Business
------------*/  
#Business{
    margin-top: 100px;
   min-height: 200px;
}
#Business .container{
    position: relative;
    min-height: 200px !important;
}
#Business .container .row{
    min-height: 200px !important;
}
#Business .container .row .col-12{
    min-height: 200px !important;
    padding: 0 50px;
}
#Business .container .bgImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#Business .container .col-12{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Business .container .col-12 .left h2{
    font-family: Aldo;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 62px;
    /* identical to box height */
    padding: 0;
    margin: 0;
    color: #1B7851;
    margin-bottom:7px ;
}
#Business .container .col-12 .left p{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 26px;
margin: 0;
padding: 0;
color: #FFFFFF;

}
#Business .container .col-12  .right{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#Business .container .col-12  .right img{
    width: 262.01px;
    height: 219px;
    transform: translateY(-30%);
    margin-right: 40px;
}
/*------------
Footer
------------*/ 
footer{
    margin-top: 80px;
}
footer .FooterTopCon .col-12{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
footer .FooterTopCon .logo h2{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 26px;

color: #EB54BC;

}
footer .FooterTopCon  .navList h2{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 20px;
/* identical to box height */


color: #231343;
}

footer .FooterTopCon  .navList div{
    display: flex;
    align-items: center;
}
footer .FooterTopCon  .navList ul{
    padding: 0;
    margin: 0;
}
footer .FooterTopCon  .navList ul:nth-child(1){
    margin-right: 30px;
}
footer .FooterTopCon  .navList ul li:not(:last-child){
    margin-bottom: 13px;
}
footer .FooterTopCon  .navList ul li{
    transition: all 300ms;
}
footer .FooterTopCon  .navList ul li:hover{
    transform: translateX(5px);
}
footer .FooterTopCon  .navList ul li a{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
/* identical to box height */


color: rgba(35, 19, 67, 0.3);
}

footer .FooterTopCon .SocialMedias h2{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 20px;
/* identical to box height */
padding: 0;
margin: 0;
color: #231343;
}
footer .FooterTopCon .SocialMedias ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
footer .FooterTopCon .SocialMedias ul li{
    margin-right: 10px;
}
footer .FooterBottomCon .col-12{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 10px 0;
}
footer .FooterBottomCon .col-12 p{
    font-family: Aldo;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 14px;
margin: 0;
color: #5B5B5B;
}
/*------------
Medias
------------*/   


@media (max-width:992px){
    header .MobileNavCon{
        display: block;
    }
    header .BgImage{
        display: none;
    }
    .DekstopNav{
        display: none !important;
    }
    .DekstopNav2{
        display: none !important;
    }
    #TopSection::before{
        bottom: auto;
        top: 40%;
    }
    #NTF_Infos .BackGroundImage{
        display: none;
    }
    .NFT_Marketplace .left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #NTF_Infos .NFT_Marketplace .left img{
        width: 300px;
        height: 342px;
        transform: translate(0px,-20px);
    }
    #NTF_Infos .NFT_Marketplace .right{
        padding: 0;
        transform: translateY(-120px);
    }
    #NTF_Infos .Rent_NFT .right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    #NTF_Infos .Rent_NFT .right img{
        transform: translateY(-120px);
        width: auto;
        height: auto;
    }
    #Whitepapers .CardsCon{
        background-image: none;
    }

    #Whitepapers .CardContent{
        margin: 0 40px;
    }
    #Roadmap .MainContent{
        flex-wrap: wrap;
    }
    #Roadmap .MainContent .TextList{
        border-radius: 0 !important;
    }
    #Roadmap .MainContent .TextList .Top{
        border-radius: 0 !important;
    }
    #Business .container .col-12 .right img{
        margin: 0;
    }
    #TopSection .BackgroundImgDiv{
        height: calc(100vh + 300px);
    }
    header{
        height: 70px; 
        background: none;
    }
 
    .Pipop .swiper-slide .Content{
        overflow-y: scroll;
        flex-direction: column ;
    }
    .Pipop .swiper-slide .Content .bgText{
        font-size: 180px;
        top: 90%;
        transform: translate(-50%,-50%);
    }
    .Pipop.ChinaPipop .swiper-slide .Content .bgText{
        font-size: 110px !important;
        top: 115%;
        transform: translate(-50%,-50%);
    }
    .Pipop.NewYorkPipop .swiper-slide .Content .bgText{
        font-size: 100px !important;
        top: 125%;
        transform: translate(-50%,-50%);
    }
    .Pipop.ParisPipop .swiper-slide .Content .bgText{
        
        top: 137%;
    }
    .Pipop .swiper-slide .Content .left{
        width: 100%;
    }
    .Pipop .swiper-slide .Content .left img{
        width: 100%;
        height: 100%;
    }
    .Pipop .swiper-slide .Content .right{
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .Pipop .swiper-slide .Content .TextMain .TopText{
        align-items: center;
    }
    .Pipop .swiper-slide .Content .TextMain .MainText p{
        text-align: center;
    }
    .Pipop .swiper-slide .Content .TextMain .BottomText{
        justify-content: center;
    }
    .Pipop .swiper-button-next{
        left: 82% ;
        bottom: 0;
    }
    .Pipop .mySwiper{
        padding-bottom: 10px;
    }
    #Faq .TimeLine{
        display: none !important;
    }
    #Faq .rightArrow{
        display: none !important;
    }
    #AboutSection .TopContainer .BgImage{
        display: none;
    }

    #AboutSection .TopContainer{
        background: #FF75E1;
    }
    #AboutSection .TopContainer .RightCol{
        align-items: center;
        margin-top: 15px;
    }
    #AboutSection .TopContainer .RightCol p,
    #AboutSection .TopContainer .RightCol h2{
        text-align: center !important;
        padding: 0 5px;
    }
    #AboutSection .BottomContainer .BgImage{
        display: none;
    }
    #AboutSection .BottomContainer{
        background: #64C7FF;
    }
    #AboutSection .BottomContainer .LeftCol{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    #AboutSection .BottomContainer .LeftCol .Content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #AboutSection .BottomContainer .LeftCol p,
    #AboutSection .BottomContainer .LeftCol h2{
        text-align: center !important;
        padding: 0 5px;
    }
}
@media (max-width:640px){
    .TextBanner{
        margin-top: 50px;
    }
    .TextBanner .ColDiv h1{
        font-size: 50px;
    }
    .TextBanner .ColDiv h2{
        font-size: 50px;
    }
    #TopSection::before{
        top: 30%;
    }
    #NTF_Infos .NFT_Marketplace .right{
        padding: 0 10px;
    }
    #NTF_Infos .NFT_Marketplace .left img{
        width: 200px;
        height: 240px;
        transform: translate(100px , 0px);
    }
    #NTF_Infos .Rent_NFT .SectionTitle{
        margin: 0;
        margin-top: 70px;
    }
    #NTF_Infos .Rent_NFT .left{
        padding: 0;
        padding: 0 10px;
        transform: translateY(-70px);
    }
    #NTF_Infos .NFT_Marketplace .right > img{
        display: none;
    }
    #Chances{
        margin-top: 200px;
    }
    #Chances .CardContentJustImage{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    #Chances .CardContentJustImage img:nth-child(1){
        width: 80%;
        height: 80%;
    }
    #Chances .CardMainCol{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #Chances .CardMainCol .CardContentText{
        width: 80%;
        height: 80%;
    }
    #Chances .CardMainCol:nth-child(2){
        margin-top: 10px;
    }
    #Chances .CardMainCol:nth-child(3){
        margin-top: 20px;
    }
    #Chances .CardMainCol .CardContentText svg{
        transform: translate(-60px,50px);
    }
    #Faq .FaqContent.active .FaqActiveBorder{
        display: none;
    }
    #Faq .FaqContent.active{
        border: 2px solid rgba(232, 232, 232, 1);
    }
    #Team .CardsCol{
        flex-direction: column;
    }
    #Team .CardContent{
        margin-top: 50px;
    }
    #Whitepapers .CardsCol{
        flex-direction: column;
    }
    #Whitepapers .CardContent{
        margin: 50px 0;
    }
    #Business .container .row .col-12{
        flex-direction: column;
    }
    #Business .container .col-12 .right img{
        transform: translate(0);
        
    }
    #Business .container .bgImg{
        display: none;
    }
    #Business .container{
        background:#39EFA3 ;
    }
    #Business .container .row .col-12{
        padding: 30px 10px;
    }
    #Business .container .row .col-12 .right {
        margin-top: 30px;
    }
    footer .FooterTopCon .col-12{
        flex-direction: column;
    }
    footer .FooterTopCon .col-12 > div{
        margin-top: 20px;
    }

    .Pipop .swiper-slide .Content .bgText{
        font-size: 90px;
        top:75%;
    }
    .Pipop.ChinaPipop .swiper-slide .Content .bgText{
        font-size: 60px !important;
        top: 55%;
        transform: translate(-50%,-50%);
    }
    .Pipop.NewYorkPipop .swiper-slide .Content .bgText{
        font-size: 50px !important;
        top: 60%;
        transform: translate(-50%,-50%);
    }
    .Pipop.ParisPipop .swiper-slide .Content .bgText{
        top: 65%;
    }
    .Pipop.RomaPipop .swiper-slide .Content .bgText{
        top: 50%;
    }
    .Pipop .swiper-slide .Content .left{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .Pipop .swiper-slide .Content .left img{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .Pipop .PipopCloseBtnDiv{
        bottom: auto;
        top: 0;
        right: 20px;
        width: 48px;
        height: 48px;
    }
    .Pipop .swiper-button-next{
        left: auto;
        right: 0;
    }
    .Pipop .swiper-container-horizontal > .swiper-pagination-progressbar{
        left: 65px;
    }
}